html { 
  background: url("/media/images/wall.png") no-repeat center center fixed; 
  background-size: cover;
}

h1 span{
	background-color : rgba(255,255,255,0.8);
	border : 2px solid white;
	border-radius : 3px;
	color : black;
}
.card
{
	display : inline-block;
	position : absolute;
	border-radius : 10px;
	padding : 20px;
	background-color : rgba(255,255,255,0.9);
	width : 35%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align : center;
}

#m1{
	left : 10%;
	right : 5%;
}
#m2{
	left : 55%%;
	right : 10%;
}
#home{
	position : absolute;
	right : 5%;
	border-color: blue;
	border: 2px solid;
	border-radius : 4px;
}

