.btn {
	background-color: rgb(255,0,0);
 	color: white;
	padding: 8px 20px;
	text-align: center;
	border-radius : 8px;
	}
table, td {
	border : 1px solid white;
	background-color : rgba(0,0,0,0.6);
	color : white;
}
h1 span{
	background-color : rgba(255,255,255,0.8);
	border : 2px solid white;
	border-radius : 3px;
	color : black;
}
th {
	border : 1px solid white;
	background-color : rgba(255,255,255,0.8);
	color : black;
}
hr{
	width : 100%;
}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
	padding: 4px 20px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}
.tablesorter-default thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}
.wrapper{
	overflow-y : scroll;
	overflow-x : scroll;
	max-height : 80vh;
	max-width : 100vw;
}
table thead tr{
	position : sticky;
	top :0;
}
