.mainhead{
	font-size : 300%;
	text-align : center;
}
table, th, td {
	border : 1px solid white;
	background-color : rgba(0,0,0,0.6);
	color : white;
}
.intro
{
	background-color : rgba(255,255,255,0.85);
	width : 100%;
}
